<ul>
  <li>支援 Markdown 格式, <strong>**粗體**</strong>、~~刪除線~~、<code>`程式碼`</code></li>
  <li>支援表情，相關請至 <a href="http://www.emoji-cheat-sheet.com" target="_blank" rel="nofollow">Emoji cheat sheet</a></li>
  <li>按“M”鍵查詢更多 <a href="#markdown_help_tip_modal" data-toggle="modal" data-keyboard="true" data-backdrop="true">說明</a>。</li>
</ul>

<div id="markdown_help_tip_modal" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h4>格式說明</h4>
  </div>
  <div class="modal-body">
    <ul>
      <li>支援 Markdown 格式</li>
      <li><strong>**粗體**</strong>、~~刪除線~~、<code>`程式碼`</code></li>
      <li>http://example.org 自動加連結</li>
      <li>@name 會連接至用戶頁面，並也通知他</li>
      <li>![Alt text here](http://foo.com/bar.jpg) 顯示圖片</li>
      <li>多行程式碼，使用3個`包起来，注意要換行，第一個```後面接程式名稱(ruby,bash,html,css,python,erb,java... <a href="http://pygments.org/docs/lexers/" target="_blank">更多</a>)<br />
        例如：
          <pre style="border:0;background:#FFF;margin:0;">```ruby
class Hello
end
```</pre>
      </li>
    </ul>
  </div>
</div>
