<h1>你追蹤的話題有了新回應</h1>
<p> 
   <%= user_name_tag(@reply.user) %>  回應了 《<%= render_topic_title(@topic)%>》:</label> <br />
</p>
<blockquote>
  <p><%= raw @reply.body_html %><br/></p>
</blockquote>
<p>
 <label> 話題網址:</label> <%= render_topic_title(@topic) %>.
</p>
